.select-container {
  position: relative;
  width: 100%;
}

.select-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-medium);
  margin-top: var(--spacing-medium);
  min-height: 1.875rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: white;
  transition: all 0.3s;
  cursor: pointer;
}

.select-input:hover {
  border-color: var(--color-border-hover);
  box-shadow: 0 0 0 0.1875rem var(--color-shadow);
}

.select-input.error {
  border-color: var(--color-error);
  box-shadow: 0px 0px 0px 3px hsla(2, 79%, 57%, 0.12);
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--spacing-small);
}

.search-input-wrapper {
  display: flex;
  align-items: center;
}

.with-search-icon {
  width: 10%;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: var(--font-size-base);
  background-color: transparent;
  min-width: 1.875rem;
}

.label {
  display: flex;
  font-size: var(--font-size-base);
  font-weight: 600;
}

.select-label {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-shadow);
  color: var(--color-label);
  font-weight: 500;
  border-radius: var(--border-radius);
  padding: 0.1875rem 0.5rem;
  font-size: var(--font-size-small);
}

.select-label button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 0.3125rem;
  color: var(--color-label);
}

.select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: var(--spacing-medium);
  max-height: 18.75rem;
  overflow-y: auto;
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  z-index: 1000;
  box-shadow: 0 1rem 4rem -0.25rem var(--color-shadow);
}

.options-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.option {
  display: flex;
  align-items: center;
  margin: var(--spacing-small);
  padding: 0.4375rem 0.75rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.option:hover,
.option.selected {
  background-color: var(--color-border);
}

.select-hint {
  position: absolute;
  font-size: var(--font-size-small);
  color: var(--color-hint);
  margin-top: var(--spacing-medium);
}

.select-container.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.search-icon,
.arrow-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: var(--spacing-medium);
}
